{% extends 'base.html' %}
{% load static %}

{% block title %}Mobiles Store{% endblock title %}
{% block static %}
    <link rel="stylesheet" href="{% static 'mobile_store/index.css' %}">
    <link rel="stylesheet" href="{% static 'mobile_store/mobile_item.css' %}">
{% endblock static %}

{% block body %}
    <h1 class="heading">The Mobiles Store</h1>
    <br>
    <ul>
        {% for mobile in mobiles %}
            <a href="{{ mobile.get_absolute_url }}">            
                {% include 'mobile_store/partials/mobile_item.html' %}
            </a>
        {% endfor %}
    </ul>
{% endblock body %}