a {
  color: #eee;
  text-decoration: none;
  transition: all 0.1s;
  background: transparent;
  width: 25rem;
  display: block;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
