@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,500;8..144,700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    background: #333;
    color: #eee;
}

.tile {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -2px -2px 6px 1px #111, 2px 2px 6px 1px #aaa;
    margin: auto;
    max-width: 25rem;
    text-align: center;
}